$sidebar-width: 180px;
$space: 8px;
$space-2: 16px;
$space-3: 24px;
$space-4: 32px;
$space-5: 40px;

h2.title {
  padding: $space-5 0 $space-2 $space-3;
  word-break: break-all;
  font-size: 16px;
  color: #000;
  margin-bottom: 150px;
}

.menu {
  border-right: 1px solid grey;
  width: $sidebar-width;
  height: 100%;

  .list {
    all: unset;
    display: flex;
    flex-direction: column;
    padding: 0 calc($space-3 / 2);
    gap: $space;
  }

  .item {
    all: unset;
    padding: $space $space * 1.5;
    cursor: pointer;
    border-radius: $space;
    margin: $space 0;
  }

  .icon {
    display: inline-block;
    margin-right: $space;
  }

  & > .itemTitle {
    align-items: center;
    display: flex;
    flex: 0;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 16px;
    color: #000;
    flex-direction: row;

    & > div * {
      font-size: 14px;
    }
  }

  path,
  circle {
    stroke: cyan;
  }

  &:focus-within,
  &:focus,
  &.active {
    background-color: lightcyan;

    & > .itemTitle {
      color: lightslategrey;
    }

    .icon path,
    .icon circle {
      stroke: lightslategrey;
    }
  }

  &:hover {
    background-color: lightcyan;
  }
}
