@import '~styles/main';

$sidebar-width: 200px;

h1.title {
  padding: $space-5 $space $space $space-3;
  word-break: break-all;
  @include heading-3;
  margin-bottom: 100px;
  font-weight: $boldFontWeight;
}

.menu {
  border-right: 2px solid $c-neutral-30;
  width: $sidebar-width;
  height: auto;

  .list {
    all: unset;
    display: flex;
    flex-direction: column;
    padding: 0 calc($space-3 / 2);
    gap: $space;
  }

  .item {
    all: unset;
    padding: $space $space * 1.5;
    cursor: pointer;
    border-radius: $space * 0.5;
    margin: calc($space / 2) 0;

    &:hover {
      background-color: $c-neutral-30;
    }
  }

  .active {
    .itemTitle {
      color: $c-orange-80;
      background-color: $c-neutral-30;
    }
    color: $c-orange-80;
    background-color: $c-neutral-30;
    .icon path,
    .icon circle {
      stroke: $c-orange-80;
    }
  }

  .icon {
    display: inline-block;
    margin-right: $space;

    path,
    circle {
      stroke: cyan;
    }

    &:focus-within,
    &:focus,
    &.active {
      background-color: lightcyan;

      & > .itemTitle {
        color: lightslategrey;
      }

      .icon path,
      .icon circle {
        stroke: lightslategrey;
      }
    }
  }

  .itemTitle {
    align-items: center;
    display: flex;
    flex: 0;
    word-wrap: break-word;
    word-break: break-all;
    font-size: $smallfontSize;
    color: $c-navy-80;
    font-weight: $semiBoldFontWeight;
  }
}
