@use 'sass:math';
@import '~styles/main';

.selectBadge {
  display: flex;
  align-items: center;
  padding: $space #{$space + math.div($space, 2)};
  border-radius: #{$space * 3};
  background: $c-neutral-80;
  @include text-button;

  & > div {
    color: $c-neutral-0 !important;
  }
}

.closeButton {
  all: unset;
  display: flex;
  margin-left: $space;
  cursor: pointer;
}
