@import '~styles/main';

.sidebarContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  background-color: $c-neutral-0;
  position: relative;
  box-sizing: border-box;
}

.sidebarContainer > div:first-child {
  flex-shrink: 0;
  height: 100%;
  position: sticky;
  top: 0;
  bottom: 0;

  h2 {
    margin-top: 0;
  }
}
