.sidebarContainer,
.sidebarMobileContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
}

.sidebarMobileContainer > div {
  width: 100%;
}

.sidebarContainer > div:first-child {
  flex-shrink: 0;
  height: 100vh;
  position: sticky;
  top: 0;

  h2 {
    margin-top: 0;
  }
}

.sidebarContainer > div:nth-child(2) {
  width: 100%;
  overflow: auto;
}
