@import '~styles/main';

td.cell {
  @include text-2;
  padding: $space-2 $space;
  border-bottom: unset;

  &.tight {
    padding: $space;
  }

  &.isMinimum {
    padding-left: $space;
    padding-right: 0;
  }

  &.important {
    font-size: $heading-3;
  }

  &.metric {
    font-size: $baseFontSize;
  }
}
