.header {
  display: flex;
  padding: 24px 24px 0;
  align-items: center;
  background-color: #fff;
  min-height: 56px;

  &.sticky {
    position: sticky;
    top: 0;
    z-index: 2;
  }
}

.content {
  margin-bottom: 42px;
  padding: 0 24px 24px;
}

.titleBorder {
  border-bottom: 1px solid gray;
}

.headerContent {
  display: flex;
  width: 100%;
  flex: 1;
  align-items: center;
  min-height: 56px;
  background: #fff;
}
