$c-orange-20: #fdf0e8;
$c-orange-40: #fcc09b;
$c-orange-60: #f07a32;
$c-orange-70: #df6011;
$c-orange-80: #b44d0e;
$c-orange-90: #732f05;
$c-orange-100: #3f1901;
$c-navy-20: #f0f9ff;
$c-navy-40: #8abbdc;
$c-navy-50: #2f5c7b;
$c-navy-60: #1a3344;
$c-navy-80: #041623;
$c-neutral-0: #fff;
$c-neutral-10: #f9fcff;
$c-neutral-20: #f3f6f9;
$c-neutral-30: #e3e9ef;
$c-neutral-40: #d3dcef;
$c-neutral-50: #b1c0ce;
$c-neutral-60: #93a3b1;
$c-neutral-70: #5e7487;
$c-neutral-80: #445869;
$c-negative-10: #ffecee;
$c-negative-20: #f8d3d8;
$c-negative-30: #f4bec4;
$c-negative-40: #efa2ab;
$c-negative-60: #c13344;
$c-negative-70: #991a29;
$c-negative-80: #8e0b1a;
$c-caution-20: #fff7ef;
$c-caution-40: #e3b88d;
$c-caution-60: #c37b34;
$c-caution-80: #8e4d0b;
$c-blue-20: #5ac8fa;
$c-blue-40: #34aadc;
$c-blue-60: #3498db;
$c-blue-80: #007aff;
$c-green-20: #4cd964;
$c-green-40: #07bc0c;
$c-violet-20: #9a98e6;
$c-violet-40: #716fdc;
$c-violet-60: #5856d6;
$c-violet-80: #3432cd;
$c-black-60: #121212;
$c-warning: #f1c40f;
$c-error: #e74c3c;
$c-red-40: #ff2d55;
$c-progress: #bb86fc;
