@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-format(
  $font-size,
  $font-weight,
  $line-height,
  $letter-spacing,
  $color: $c-navy-80
) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $color;
  // font-family: $fontFamily;
}

@mixin text-1 {
  @include text-format(
    $baseFontSize,
    $baseFontWeight,
    $baseLineHeight,
    $baseLetterSpacing
  );
}

@mixin text-2 {
  @include text-format(
    $smallfontSize,
    $semiBoldFontWeight,
    $baseLineHeight,
    $baseLetterSpacing
  );
}

@mixin heading-1 {
  @include text-format(
    $heading-1,
    $boldFontWeight,
    $baseLineHeight,
    $baseLetterSpacing
  );
}

@mixin heading-2 {
  @include text-format(
    $heading-2,
    $boldFontWeight,
    $baseLineHeight,
    $baseLetterSpacing
  );
}

@mixin heading-3 {
  @include text-format(
    $heading-3,
    $boldFontWeight,
    $baseLineHeight,
    $baseLetterSpacing
  );
}

@mixin text-button {
  font-size: $smallfontSize;
  font-weight: $semiBoldFontWeight;
  line-height: $baseLineHeight;
  letter-spacing: $baseLetterSpacing;
}
