@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-format($font-size, $font-weight, $line-height, $letter-spacing, $color) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  color: $color;
  font-family: $fontFamily;
}

@mixin text-1 {
  @include text-format(
    $baseFontSize,
    $baseFontWeight,
    $baseLineHeight,
    $baseLetterSpacing,
    $fontColor
  );
}
